# Import Libraries

In [7]:
import yfinance as yf
import pandas as pd

# Fetch stock data from Yahoo Finance

In [3]:
ticker = 'ES=F'   # Represents E-mini S&P
emini = yf.Ticker(ticker)
   
start_date = '2022-01-01'
end_date = '2024-03-30'

stock_data = emini.history(start=start_date, end = end_date, interval='1d', back_adjust=True, auto_adjust=True, prepost=True)

In [4]:
stock_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-01-03 00:00:00-05:00,4771.00,4791.25,4747.50,4786.00,1322362,0.0,0.0
2022-01-04 00:00:00-05:00,4785.25,4808.25,4764.50,4784.25,1392809,0.0,0.0
2022-01-05 00:00:00-05:00,4783.50,4788.25,4689.50,4692.50,1856376,0.0,0.0
2022-01-06 00:00:00-05:00,4692.00,4715.75,4662.00,4687.50,1862918,0.0,0.0
2022-01-07 00:00:00-05:00,4695.00,4705.75,4653.75,4667.75,1618440,0.0,0.0
...,...,...,...,...,...,...,...
2024-03-22 00:00:00-04:00,5306.75,5311.75,5287.75,5293.25,1162606,0.0,0.0
2024-03-25 00:00:00-04:00,5290.50,5295.00,5272.50,5278.25,920608,0.0,0.0
2024-03-26 00:00:00-04:00,5280.75,5300.50,5263.00,5265.25,1092706,0.0,0.0
2024-03-27 00:00:00-04:00,5273.25,5313.75,5270.75,5308.25,1487671,0.0,0.0
2024-03-28 00:00:00-04:00,5308.00,5321.00,5301.00,5308.50,1317836,0.0,0.0

In [8]:
stock_data.index = pd.to_datetime(stock_data.index.date)
stock_data.index.name = "Date"

In [9]:
stock_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-01-03,4771.00,4791.25,4747.50,4786.00,1322362,0.0,0.0
2022-01-04,4785.25,4808.25,4764.50,4784.25,1392809,0.0,0.0
2022-01-05,4783.50,4788.25,4689.50,4692.50,1856376,0.0,0.0
2022-01-06,4692.00,4715.75,4662.00,4687.50,1862918,0.0,0.0
2022-01-07,4695.00,4705.75,4653.75,4667.75,1618440,0.0,0.0
...,...,...,...,...,...,...,...
2024-03-22,5306.75,5311.75,5287.75,5293.25,1162606,0.0,0.0
2024-03-25,5290.50,5295.00,5272.50,5278.25,920608,0.0,0.0
2024-03-26,5280.75,5300.50,5263.00,5265.25,1092706,0.0,0.0
2024-03-27,5273.25,5313.75,5270.75,5308.25,1487671,0.0,0.0
2024-03-28,5308.00,5321.00,5301.00,5308.50,1317836,0.0,0.0

In [10]:
base_dir = "../Data"
stock_data.to_csv(f"{base_dir}/stock_data_.csv")

# Download data from Yahoo Finance

In [16]:
stock_data = yf.download(ticker, period="5y")

base_dir = "../Data"
stock_data.to_csv(f"{base_dir}/stock_data.csv")

[*********************100%%**********************]  1 of 1 completed